{% extends 'header.html' %}

{% block title %}
Records Manager
{% endblock %}

{% block body %}

<div class="container">
  <h1 id="h1" class="display-4 text-center">Телефон: <b>+74997020120</b> (доб. <b>55</b>)</h1>
</div>
<div class="container">
  <table class="table"><caption>Powered by NorD for BSS</caption>
    <thead>
      <tr class="head">
        <th id="th" scope="col">Пользователь</th>
        <th id="th" scope="col">Номер телефона</th>
        <th id="th" scope="col">Записи</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
            <td id="td">{{ user.get('fio') }}</td>
            <td id="td">{{ user.get('telephone') }}</td>
            <td id="td"><a id="{{ user.get('folder') }}" href="user/{{ user.get('folder') }}">{{ user.get('counter') }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <script>
  function refreshTable() {
    fetch(window.location.href, {cache: 'no-store'})
      .then(response => response.text())
      .then(html => {
        const parser = new DOMParser();
        const doc = parser.parseFromString(html, 'text/html');
        const newTable = doc.querySelector('.table');
        document.querySelector('.table').replaceWith(newTable);
      });
  }
  </script>
</div>

{% endblock %}

